*{
    box-sizing: border-box;
}
.logoHeader{
   padding:40px;
    color: steelblue;
    font-weight: 600;
    font-size: 2em;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.containerSignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
    color: #000;
}
.internGoSignup{
   background-color: #fff;
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    border-radius: 5px;
    width: 30%;
}

.internGoSignup h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.internGoSignup a{
    text-decoration: none;
    color:steelblue;
}
.form-control{
    position: relative;
    margin: 20px 0 20px;
    width: 300px;
}

.form-control  input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    padding: 15px 5px;
    font-size: 14px;
    color: #000;

}

.form-control  input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: steelblue;
}

.btn{
    cursor: pointer;
    display: inline-block;
    background-color: steelblue;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
 .btn:focus{
     outline: 0;
 }
 .btn:active{
     transform: scale(0.98);
 }
 .text{
     margin-top: 30px;
 }

 .form-control label{
     position: absolute;
     top: 15px;
     left:0;
 }
 .form-control label span{
     display: inline-block;
     font-size: 18px;
     min-width: 5px;
     transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
       
 }
.form-control  input:focus + label span,
.form-control  input:valid + label span{
    color: steelblue;
    transform: translateY(-30px);
}

@media only screen and (max-width:600px) {
  
    body{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .logoHeader{
        padding:0;
        margin: 0 0 40px 0;
     }
  
  .containerSignup{
      display: flex;
      width: 100%;
      margin: 0;
  }
  .internGoSignup{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
  }
  .signupform{
      padding: 0 10px;
  }
  .signupformcontrol{
      width: 90%;
      margin-left:10px;
  }
.signupformcontrol2{
    width: 90%;
    margin-left: 10px;
}
.signupformcontrolbtn{
    width: 100%;
   
}
  .signuptext{
    text-align: center;
  }
}